body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto centra verticalmente en la ventana del navegador */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
}  